services:
  postgres:
    image: "docker.io/library/postgres:16"
    ports:
      - "${PULP_DATABASE_PORT:-5432}:5432"
    environment:
      POSTGRES_USER: pulp
      POSTGRES_PASSWORD: password
      POSTGRES_DB: pulp
      POSTGRES_INITDB_ARGS: "--auth-host=scram-sha-256"
      POSTGRES_HOST_AUTH_METHOD: "scram-sha-256"
    volumes:
      - "pg_data:/var/lib/postgresql"
      - "./assets/postgres/passwd:/etc/passwd:Z"
    restart: always
    healthcheck:
      test: pg_isready
      interval: 5s
      retries: 10
      timeout: 3s

  migration_service:
    image: "quay.io/redhat-services-prod/pulp-services-tenant/pulp:latest"
    platform: linux/amd64
    depends_on:
      postgres:
        condition: service_healthy
    command: pulpcore-manager migrate --noinput
    restart: on-failure
    volumes:
      - "./assets/settings.py:/etc/pulp/settings.py:z"
      - "./assets/certs:/etc/pulp/certs:z"
      - "pulp:/var/lib/pulp"

  set_init_password_service:
    image: "quay.io/redhat-services-prod/pulp-services-tenant/pulp:latest"
    platform: linux/amd64
    command: set_init_password.sh
    depends_on:
      migration_service:
        condition: service_completed_successfully
    environment:
      PULP_DEFAULT_ADMIN_PASSWORD: password
    volumes:
      - "./assets/settings.py:/etc/pulp/settings.py:z"
      - "./assets/certs:/etc/pulp/certs:z"
      - "pulp:/var/lib/pulp"

  redis:
    image: "docker.io/library/redis:latest"
    volumes:
      - "redis_data:/data"
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli", "--raw", "incr", "ping"]

  pulp_api:
    image: "quay.io/redhat-services-prod/pulp-services-tenant/pulp:latest"
    platform: linux/amd64
    deploy:
      replicas: 1
    command: ["pulp-api"]
    depends_on:
      migration_service:
        condition: service_completed_successfully
    ports:
      - ${PULP_API_PORT:-8080}:24817
    hostname: pulp-api
    user: pulp
    volumes:
      - "./assets/settings.py:/etc/pulp/settings.py:z"
      - "./assets/certs:/etc/pulp/certs:z"
      - "pulp:/var/lib/pulp"
    environment:
      POSTGRES_SERVICE_PORT: 5432
      POSTGRES_SERVICE_HOST: postgres
      PULP_ADMIN_PASSWORD: password
      PULP_DOMAIN_ENABLED: "true"
      PULP_API_ROOT: /api/pulp/
      PULP_CONTENT_ORIGIN: "http://pulp.content:8081/"
      PULP_CONTENT_PATH_PREFIX: "/pulp/content/"
    restart: always

  pulp_content:
    image: "quay.io/redhat-services-prod/pulp-services-tenant/pulp:latest"
    platform: linux/amd64
    deploy:
      replicas: 1
    command: ["pulp-content"]
    depends_on:
      migration_service:
        condition: service_completed_successfully
    ports:
      - ${PULP_CONTENT_PORT:-8081}:24816
    hostname: pulp-content
    user: pulp
    volumes:
      - "./assets/settings.py:/etc/pulp/settings.py:z"
      - "./assets/certs:/etc/pulp/certs:z"
      - "pulp:/var/lib/pulp"
    environment:
      POSTGRES_SERVICE_PORT: 5432
      POSTGRES_SERVICE_HOST: postgres
      PULP_DOMAIN_ENABLED: "true"
      PULP_API_ROOT: /api/pulp/
      PULP_CONTENT_ORIGIN: "http://pulp.content:8081/"
      PULP_CONTENT_PATH_PREFIX: "/pulp/content/"
    restart: always

  pulp_worker:
    image: "quay.io/redhat-services-prod/pulp-services-tenant/pulp:latest"
    platform: linux/amd64
    deploy:
      replicas: 2
    command: ["pulp-worker"]
    depends_on:
      migration_service:
        condition: service_completed_successfully
      redis:
        condition: service_healthy
    user: pulp
    volumes:
      - "./assets/settings.py:/etc/pulp/settings.py:z"
      - "./assets/certs:/etc/pulp/certs:z"
      - "pulp:/var/lib/pulp"
    environment:
      POSTGRES_SERVICE_PORT: 5432
      POSTGRES_SERVICE_HOST: postgres
      PULP_DOMAIN_ENABLED: "true"
      PULP_API_ROOT: /api/pulp/
      PULP_CONTENT_ORIGIN: "http://pulp.content:8081/"
      PULP_CONTENT_PATH_PREFIX: "/pulp/content/"
    restart: always
volumes:
  pulp:
    name: pulp${DEV_VOLUME_SUFFIX:-dev}
  pg_data:
    name: pg_data${DEV_VOLUME_SUFFIX:-dev}
  redis_data:
    name: redis_data${DEV_VOLUME_SUFFIX:-dev}
