kafka:
  auto:
    offset:
      reset: latest
    commit:
      interval:
        ms: 5000
  bootstrap:
    servers: localhost:9092
  group:
    id: content-sources
  message:
    send:
      max:
        retries: 15
  request:
    timeout:
      ms: 30000
    required:
      acks: -1
  retry:
    backoff:
      ms: 100
  timeout: 10000
  topics:
    - platform.content-sources.introspect
  # sasl:
  #   username: someusername
  #   passowrd: somepassword
  #   mechanism: somemechanism
  #   protocol: someprotocol
database:
  host: localhost
  port: 5433
  user: content
  password: content
  name: content
logging:
  level: debug
  console: True
cloudwatch:
  region:
  group:
  stream:
  key:
  secret:
  session:
certs:
  cert_path: "/cdncert/cert.pem"
options:
  paged_rpm_inserts_limit: 100

# metrics:
#   path: "/metrics"
#   port: 9000

# Let you customize configurations for
# the client services
clients:
  rbac_enabled: True
  rbac_base_url: http://localhost:8800/api/rbac/v1
  rbac_timeout: 30

# Configuration for the mocks
mocks:
  rbac:
    # Update with your account number for admin
    user_read_write: ["jdoe@example.com"]
    # Update with yout account number for viewer
    user_read: ["tdoe@example.com"]
