database:
  host: localhost
  port: 5432
  user: content
  password: content
  name: content
logging:
  level: debug
  console: True
certs:
  cert_path: "/cdncert/cert.pem"
options:
  paged_rpm_inserts_limit: 100
