name: PR Validation 
on:
  pull_request:
    types: [opened, edited, synchronize, reopened]

jobs:
  title-validate:
    name: Title
    runs-on: ubuntu-latest
    steps:
    - uses: deepakputhraya/action-pr-title@master
      with:
        regex: '(Fixes |Refs )\d+(,\d+)*: .+' # Regex the title should match.
        allowed_prefixes: 'Refs ,Fixes ' # title should start with the given prefix
        disallowed_prefixes: '' # title should not start with the given prefix
        prefix_case_sensitive: false # title prefix are case insensitive
        min_length: 5 # Min length of the title
        max_length: 60 # Max length of the title
        github_token: ${{ github.token }} # Default: ${{ github.token }}
